project:
  type: website

website:
  title: "quarto-publications-dashboard"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - dashboard.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true



